/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Segoe UI";
  src: url("../../assets/fonts/Segoe UI Bold Italic.eot");
  src: url("../../assets/fonts/Segoe UI Bold Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Segoe UI Bold Italic.woff2") format("woff2"),
    url("../../assets/fonts/Segoe UI Bold Italic.woff") format("woff"),
    url("../../assets/fonts/Segoe UI Bold Italic.svg#Segoe UI Bold Italic")
      format("svg");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-02DC;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../../assets/fonts/Segoe UI Bold.eot");
  src: url("../../assets/fonts/Segoe UI Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Segoe UI Bold.woff2") format("woff2"),
    url("../../assets/fonts/Segoe UI Bold.woff") format("woff"),
    url("../../assets/fonts/Segoe UI Bold.svg#Segoe UI Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-02DC;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../../assets/fonts/SegoeUI-Semibold.eot");
  src: url("../../assets/fonts/SegoeUI-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/SegoeUI-Semibold.woff2") format("woff2"),
    url("../../assets/fonts/SegoeUI-Semibold.woff") format("woff"),
    url("../../assets/fonts/SegoeUI-Semibold.svg#SegoeUI-Semibold")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../../assets/fonts/Segoe UI Italic.eot");
  src: url("../../assets/fonts/Segoe UI Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/Segoe UI Italic.woff2") format("woff2"),
    url("../../assets/fonts/Segoe UI Italic.woff") format("woff"),
    url("../../assets/fonts/Segoe UI Italic.svg#Segoe UI Italic") format("svg");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-02DC;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../../assets/fonts/Segoe UI.eot");
  src: url("../../assets/fonts/Segoe UI.eot?#iefix") format("embedded-opentype"),
    url("../../assets/fonts/Segoe UI.woff2") format("woff2"),
    url("../../assets/fonts/Segoe UI.woff") format("woff"),
    url("../../assets/fonts/Segoe UI.svg#Segoe UI") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-02DC;
}
