<div class="container">
  <div class="row news-letter">
    <div class="col-sm-4">
      <div class="card">
        <h4>Recently Updated Datasets</h4>
        <div class="news scroll">
          <div class="post">
            <h5>Evaluation of Potency for Foot & Mouth Diseases
              Serotype a Oil Based Vaccine in Guinea Pigs.</h5>
            <p>Foot and Mouth Disease (FMD) is highly contagious disease
              of cloven footed animals and cause huge economic losses to
              livestock industry. Potent and safe vaccine is the principal
              necessity.</p>
            <button class="btn btn-green">View more <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="post">
            <h5>Evaluation of Potency for Foot & Mouth Diseases
              Serotype a Oil Based Vaccine in Guinea Pigs.</h5>
            <p>Foot and Mouth Disease (FMD) is highly contagious disease
              of cloven footed animals and cause huge economic losses to
              livestock industry. Potent and safe vaccine is the principal
              necessity.</p>
            <button class="btn btn-green">View more <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="post">
            <h5>Evaluation of Potency for Foot & Mouth Diseases
              Serotype a Oil Based Vaccine in Guinea Pigs.</h5>
            <p>Foot and Mouth Disease (FMD) is highly contagious disease
              of cloven footed animals and cause huge economic losses to
              livestock industry. Potent and safe vaccine is the principal
              necessity.</p>
            <button class="btn btn-green">View more <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <button class="btn btn-green"><strong> View more</strong></button>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <h4>Most Viewed Datasets</h4>
        <div class="news">
          <div id="chartdiv" style="height: 300px; width: 100%;"></div>
          <div class="chart-visual">
            <a href="#">See Visualization</a>
            <span>Growth Chart from UKAID</span>
          </div>
          <div class="post">
            <h5>Education under wear and tear...</h5>
            <p>The 2005 earthquake took a heavy toll on schools. Over
              2,700 schools were destroyed. Militancy ravaged throughout
              KP razing 237 schools completely and 367 school
              partiality affected.</p>
          </div>

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <h4>Compare Prices</h4>
        <div class="news">
          <div class="gallery row">
            <div class="col-sm-4 col-6">
              <div class="gallery-img">
                <img src="../../../assets/images/gallery.jpg" alt="">
                <span>Dry fruits <strong>Rs. 933, 1kg</strong></span>
              </div>
            </div>
            <div class="col-sm-4 col-6">
              <div class="gallery-img">
                <img src="../../../assets/images/gallery.jpg" alt="">
                <span>Dry fruits <strong>Rs. 933, 1kg</strong></span>
              </div>
            </div>
            <div class="col-sm-4 col-6">
              <div class="gallery-img">
                <img src="../../../assets/images/gallery.jpg" alt="">
                <span>Dry fruits <strong>Rs. 933, 1kg</strong></span>
              </div>
            </div>
            <div class="col-sm-4 col-6">
              <div class="gallery-img">
                <img src="../../../assets/images/gallery.jpg" alt="">
                <span>Dry fruits <strong>Rs. 933, 1kg</strong></span>
              </div>
            </div>
            <div class="col-sm-4 col-6">
              <div class="gallery-img">
                <img src="../../../assets/images/gallery.jpg" alt="">
                <span>Dry fruits <strong>Rs. 933, 1kg</strong></span>
              </div>
            </div>
            <div class="col-sm-4 col-6">
              <div class="gallery-img">
                <img src="../../../assets/images/gallery.jpg" alt="">
                <span>Dry fruits <strong>Rs. 933, 1kg</strong></span>
              </div>
            </div>
            <div class="col-sm-4 col-6">
              <div class="gallery-img">
                <img src="../../../assets/images/gallery.jpg" alt="">
                <span>Dry fruits <strong>Rs. 933, 1kg</strong></span>
              </div>
            </div>
            <div class="col-sm-4 col-6">
              <div class="gallery-img">
                <img src="../../../assets/images/gallery.jpg" alt="">
                <span>Dry fruits <strong>Rs. 933, 1kg</strong></span>
              </div>
            </div>
            <div class="col-sm-4 col-6">
              <div class="gallery-img">
                <img src="../../../assets/images/gallery.jpg" alt="">
                <span>Dry fruits <strong>Rs. 933, 1kg</strong></span>
              </div>
            </div>
            <div class="col-sm-4 col-6">
              <div class="gallery-img">
                <img src="../../../assets/images/gallery.jpg" alt="">
                <span>Dry fruits <strong>Rs. 933, 1kg</strong></span>
              </div>
            </div>
            <div class="col-sm-4 col-6">
              <div class="gallery-img">
                <img src="../../../assets/images/gallery.jpg" alt="">
                <span>Dry fruits <strong>Rs. 933, 1kg</strong></span>
              </div>
            </div>
            <div class="col-sm-4 col-6">
              <div class="gallery-img">
                <img src="../../../assets/images/gallery.jpg" alt="">
                <span>Dry fruits <strong>Rs. 933, 1kg</strong></span>
              </div>
            </div>
          </div>
          <div class="post">
            <h5>Visit and find out the wholesale prices of commodities
              in the open markets and compare with govt
              issued prices.</h5>
            <p>The inflow of sugar renders a decrease in...</p>

          </div>
        </div>
        <button class="btn btn-green"><strong> View more</strong></button>
      </div>
    </div>
  </div>
</div>
