<h1> Delete Selected Tasks </h1>
<form novalidate [formGroup]="taskform" (submit)="Submit()">

  <div class="grid-wrapper">
<div *ngFor="let task of Tasks">
  <input type="checkbox" 
  (change)="onChange($event.target.checked, task)"
  [checked]="task.IsDeleted">
  {{task.name}}
</div>
<br>

<div class="mb-3">
  <div class="row align-items-center">
      <div class="col-4 justify-content-end">
          <button type="submit" class="btn btn-primary">Delete</button>
      </div>
  </div>
</div>
</div>
</form>